@{
    ViewData["Title"] = "Transaction Confirmation Failure";
}

<h2>Transaction Confirmation Failure</h2>

<div>
    <p>There was an issue confirming your transaction.</p>
    <a href="https://localhost:7004/">Return to Home Page</a>
</div>
