@{
    ViewData["Title"] = "Transaction Confirmation Success";
}

<h2>Transaction Confirmation Success</h2>

<div>
    <p>Your transaction has been successfully confirmed.</p>
    <a href="https://localhost:7004/">Return to Main App Home</a>
</div>
