/* Your existing styles... */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #3498db;
}

.btn-primary {
    color: #fff;
    background-color: #2ecc71;
    border-color: #27ae60;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #3498db;
    border-color: #2980b9;
}

.border-top {
    border-top: 1px solid #dcdcdc;
}

.border-bottom {
    border-bottom: 1px solid #dcdcdc;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #f8f9fa;
}

.navbar-nav .dropdown-menu {
    border: 1px solid #dcdcdc;
}

.navbar-nav .dropdown-item {
    color: #333;
}

    .navbar-nav .dropdown-item:hover,
    .navbar-nav .dropdown-item:focus {
        background-color: #f8f9fa;
    }

/* Updated current balance style */
.current-balance {
    color: #333;
    font-size: 1rem; /* Adjusted font size to match navbar links */
    padding: .5rem 1rem; /* Similar padding to navbar links for consistency */
    border: 1px solid #3498db; /* A subtle border for the outline effect */
    border-radius: .25rem; /* Optional: rounded corners */
    margin-left: 1rem; /* Optional: adjust as needed for positioning */
    line-height: normal; /* Adjust line height to align with navbar items */
    display: flex;
    align-items: center; /* Ensures vertical center alignment */
}
